.single-post-card {
    min-height: 160px;
    max-height: 160px;
    box-shadow: 1px 1px 4px rgba(0,0,0, 0.3);
    border-radius: 5%;
    background: #fff7e9;
    color: black;
    padding: 10px;
    margin: 7px;
    text-align: center;
    //transition: border 0.1s, background 0.5s;
    .post-text {
      overflow: hidden;
    }
    a, a:active, a:hover {
      color: black;
    }
    &:hover {
      cursor: pointer;
      background: #eaf5ff;
    }
  }
  
  .post-content {
    display: none;
  }
  